[submodule "Nuvola/Lib/cpp-httplib"]
	path = Nuvola/Lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Nuvola/Lib/HTTPRequest"]
	path = Nuvola/Lib/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
[submodule "Nuvola/Lib/PolyHook_2_0"]
	path = Nuvola/Lib/PolyHook_2_0
	url = https://github.com/stevemk14ebr/PolyHook_2_0.git
[submodule "Nuvola/Lib/GSL"]
	path = Nuvola/Lib/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "ClassBuilder"]
	path = ClassBuilder
	url = https://github.com/DisabledMallis/ClassBuilder.git
[submodule "Nuvola/Lib/GSL"]
	path = Nuvola/Lib/GSL
	url = https://github.com/microsoft/GSL.git
