[submodule "Lunity/Lib/imgui"]
	path = Lunity/Lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "Lunity/Lib/cpp-httplib"]
	path = Lunity/Lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Lunity/Lib/minhook"]
	path = Lunity/Lib/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "Lunity/Lib/HTTPRequest"]
	path = Lunity/Lib/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
